
//Flip
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.carda {
  margin:10px 5px;
  display: inline-block;
  width: 200px;
  position: relative;
  height: 200px;
  perspective: 150em;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    backface-visibility: hidden;
    transition: all .6s ease;
    box-shadow: 1em 1em 2em rgba(0,0,0,.2);


    &--front {
      overflow: hidden;
     //background-image: linear-gradient(to right bottom, red, white);

    }

    &--back {
      // color: #FFF;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotate(0);
  }

  &__description {
    text-transform: uppercase;
    img{
      width: 200px;
      height: 200px;
    }
  }
  &__title{
    display: flex;
    justify-content: space-between;
  }
}
