<ng-container *ngIf="temtem!=null">
    <div class="carda " routerLink="{{temtem.number}}" >
      <div [ngStyle]="{background: 'linear-gradient(45deg, '+getType()+')'}"
           class="carda__side carda__side--front carda__side--front-2">
        <div class="carda__description carda-image "><img
          src="https://temtem-api.mael.tech{{temtem.icon}}">
        </div>
      </div>
      <div [ngStyle]="{background: 'linear-gradient(225deg, '+getType()+')'}"
           class="carda__side carda__side--back carda__side--back-2">
        <div class="carda__description carda-image "><img
          src="https://temtem-api.mael.tech{{temtem.lumaIcon}}">
        </div>
      </div>
    </div>
</ng-container>
