.sec_main{
    max-width: 100rem;
    margin:0 auto;
}

////////////// article 1

.art1{
    display: flex;
    justify-content: space-between;
        
    __icon{
        
        text-align: right;
    }
}


