<!-- Section description -->
<section>
    <!-- description -->
    <div>
        <p>Name : {{temtem!.name}}</p>
        <p>Type :  {{temtem!.types}}</p>
    </div>
    <!-- image -->
    <div>
        <app-temtem [temtem]="temtem">

        </app-temtem>
    </div>
</section>

<!-- Section Stats -->
<section>
    <p>hp : {{temtem!.stats.hp}}</p>
    <p>sta : {{temtem!.stats.sta}}</p>
    <p>spe : {{temtem!.stats.spd}}</p>
    <p>atk : {{temtem!.stats.atk}}</p>
    <p>def : {{temtem!.stats.def}}</p>
    <p>spatk : {{temtem!.stats.spatk}}</p>
    <p>spdef : {{temtem!.stats.spdef}}</p>
    
</section>

<p>temtem-detail works!</p>
